<div class="dialog none" id="memo-drawboard-page">
	<div class="dialog-inner">
		<div class="window">
			<h1 class="window-title">Drawing</h1>
			<div class="window-body">
				<div class="memo-buttons">
					<button class="artwork-clear" type="button"></button> <button class="artwork-undo" type="button"></button> <button class="artwork-pencil small selected" type="button"></button> <button class="artwork-eraser small" type="button"></button> <button class="artwork-fill" type="button"></button> <input class="artwork-color" type="text"> <button class="artwork-zoom" type="button"></button>
				</div>
				<div class="memo-canvas">
					<canvas id="artwork-canvas"></canvas>
					<canvas id="artwork-canvas-undo"></canvas>
					<canvas id="artwork-canvas-redo"></canvas><input name="painting" type="hidden" value="">
				</div>
				<div class="form-buttons">
					<input class="olv-modal-close-button black-button memo-finish-btn" type="button" value="Finish"> <button class="artwork-lock none" type="button"></button>
				</div>
			</div>
		</div>
	</div>
</div>